.box{
    width: 600px;
    height: 400px;
    background: #524f58;
    margin-top: 30px;
    border-style: solid;
    border-color: #af5d48;
    position: relative;
}
body{
    background-color: rgb(14, 13, 13); 
    
}

h1{
    color: red;
    text-align: center;
    
}

button{
    background-color: aqua;
}
.kuva6{
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40% -40%);
}
input{
    background-color: cyan;
}
p {
    width: 200px;
	padding: 40px 0;
	font: bold 24px sans-serif;
	text-align: center;
    background: #aaccaa;
    border: 1px solid #63a063;
    box-sizing: border-box;
     
}